<%= flash[:notice] %>
<h1> Usuários cadastrados </h1>
<% if policy(:user).create? %>
  <%= link_to "Novo usuário", new_user_url, class: "btn btn-info" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Permissão</th>
      <% if current_user.admin? %>
        <th scope="col">Ações</th>
      <% end %>
    </tr>
  </thead>
  <tbody>

    <% @users.each do |user| %>
      <tr>
        <td scope="col"> <%= user.id %> </td>
        <td scope="col"> <%= user.name %> </td>
        <td scope="col"> <%= user.email %> </td>
        <td scope="col"> <%= user.permission %> </td>
        <td scope="col"> <% if policy(:user).update? %> <%= link_to "Editar", edit_user_path(user) %> 
                        <% end %>
        </td>
      </tr>
    <% end %>
</table>
<div class="column is-multiline is-4"> 
  <%= will_paginate @books %>
</div>