<h1> Livros cadastrados </h1>
<% if policy(:book).create? %>
  <%= link_to "Cadastrar livro", new_book_url, class: "btn btn-info" %>
<% end %>

<%= form_tag(books_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search], class: 'form-control', placeholder: "Pesquisar livro") %>
  <%= submit_tag ("Pesquisar") %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Título</th>
      <th scope="col">Autor</th>
      <th scope="col">Categoria</th>
      <% if current_user.admin? %>
        <th scope="col">Ações</th>
      <% end %>
    </tr>
  </thead>
  <tbody>

    <% @books.each do |book| %>
      <tr>
        <td scope="col"> <%= book.id %> </td>
        <td scope="col"> <%= book.title %> </td>
        <td scope="col"> <%= book.author %> </td>
        <td scope="col"> <%= book.category.name %> </td>
        <td scope="col"> <% if policy(:book).update? %> <%= link_to "Editar", edit_book_path(book) %>
                        <% end %>
                        <% if policy(:book).destroy? %> <%= link_to "Deletar", book, 
                        method: :delete ,
                        data: { confirm: "Quer mesmo excluir o livro?" } %>
                        <% end %>
        </td>
      </tr>
    <% end %>
</table>
<div class="column is-multiline is-4"> 
  <%= will_paginate @books %>
</div>


